DATABASE_URL="postgresql://postgres:postgres@localhost:5432/live_polls?schema=public"
REDIS_URL="redis://127.0.0.1:6379"
PORT=3000
JWT_EXPIRES="30m"
JWT_SECRET="change-me-in-production"
JWT_REFRESH_SECRET="change-me-refresh-in-production"
